.bg{
    background-image: radial-gradient(circle, #0040a1, #09308c, #0c2076, #0a1162, #07004e);
}
body{
    padding:0;
    margin:0;
}

header{
    width:100vw;
    height: 420px;
    text-align:center;
}
#logo{
    margin-top:10px;
    margin-bottom: 10px;
}